
body{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: auto;
}
header{
    height: 200px;
    padding: 10px 10px 10px 10px;
}
#headerlogo{
    width: 200px;
    height: 150px;
    float: left;
}

#span1 {
    font-size: 2em;
    margin: auto ;
    font-weight: bold;
}