body{
    width: 960px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
#quicklinks>ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}
#quicklinks>ul>li{
    float: left;
}
#quicklinks>ul>li a{
    display: block;
    color: #000000;
    text-align: justify;
    padding: 10px 20px;
    text-decoration: none;
}

#quicksearch{
    padding-top: 50px;
    float: right;
}
nav>ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav>ul>li{
    float: left;
}
nav>ul>li a{
    display: block;
    color: #000000;
    text-align: justify;
    padding: 5px 10px;
    text-decoration: none;
}
/**
header{
    height:40px;
}
**/
#logo {
    width: 300px;
    height: 200%;
    float: left;
  /  padding-top: 10px;
}

#banner{
    width: 100%;
 /   height: 75%;
}
#col1{
    width: 30%;
    float: left;
    margin-top: 1%;
    padding:1%;
}
#col2{
    width: 30%;
    display: inline-block;
    margin-top: 1%;
    padding:1%;
}
#col3{
    width: 30%;
    float: left;
    margin-top: 1%;
    padding:1%;
}
footer>ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
footer>ul li{
    float: left;
}
footer>ul li a{
    display:inline-block ;
    text-align: center;
    padding: 5px 10px;
    padding-left: 200px;
    margin-left:auto;
    margin-right:auto;
}
footer>ul li a img{
    display:inline-block ;
    text-align: center;
    padding: 5px 10px;

}
header{
    background-color: red;
}
main{
    background-color: yellow;
}
footer{
    background-color: #782A7E;
}


/*

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: crimson;
    overflow: auto;
}

/** if you want ur codes to be in a straight.......
ul>li {
    float: left;
}


li a {
    display: block;
    color: navy;
    padding: 10px 0 8px 10px;
    text-decoration: none;

}


li a:hover, .dropdown:hover .dropbtn {
    background-color:darkred;

}


*/